<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LBMS-About</title>

    link(rel='stylesheet' href='../static/css/all.css')
    link(rel='stylesheet' href='../static/css/about_rule.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap' rel='stylesheet')
    <script src="https://kit.fontawesome.com/a51b61aa2c.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="mainBody">
        <div class="menuDiv">
            <ul class="menu">
                <li><a title="Back" href="/"><i class="fa fa-solid fa-circle-left"></i></a></li>
                <li><a title="Rules" href="/rules"><i class="fa fa-regular fa-file-lines"></i></a></li>
                <li><a title="Contact" href="/contact"><i class="fa fa-solid fa-phone-volume"></i></a></li>
            </ul>

        </div>
        <div class="rightDiv">
            <h1>ABOUT US</h1>
            <div class="body">
                <div class="leftbody">
                    p
                        span Your Gateway to Computer Science Excellence
                        br
                        br
                        | Welcome to CS Realm, your digital portal to the exciting world of computer science and
                        | technology.
                        br
                        | We're your go-to resource for all things tech-related, from books and research papers to
                        | community
                        | engagement. Our mission is to empower students, enthusiasts, and administrators alike with a
                        | comprehensive library management system and a vibrant community of innovators.
                        br
                        br
                        span Empowering Students
                        br
                        br
                        | At CS Realm, we put students at the center of our universe. Create your profile, explore an
                        | extensive collection of books, and manage your library experience seamlessly. Keep track of
                        | borrowed
                        | books, access due dates, and discover recommended readings that will fuel your academic journey.
                        | We're here to support your quest for knowledge.
                </div>
                <div class="rightbody">
                    p 
                        span Streamlined Administration
                        br
                        br
                        | For administrators and librarians, CS Realm offers efficient tools to manage book records,
                        | student
                        | profiles, and rented books effortlessly. Our platform simplifies the complexities of library
                        | management, allowing you to focus on providing a top-notch learning environment. Join us at CS
                        | Realm, where we bridge the gap between technology and education, making computer science
                        | accessible
                        | to all.
                        br
                        br
                        span Join Us Today 
                        br
                        br
                        | CS Realm invites you to join our thriving community of tech enthusiasts. Whether you're a
                        | student
                        | hungry for knowledge or an administrator seeking streamlined library operations, we're your
                        | partner
                        | in the world of computer science. Come aboard and embark on this exciting journey of
                        | exploration,
                        | innovation, and education. Your adventure starts now at CS Realm. Welcome!            
                        
                </div>
            </div>

        </div>
    </div>









</body>

</html>