<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LBMS-Admin</title>

    link(rel='stylesheet', href='../static/css/all.css')
    link(rel='stylesheet', href='../static/css/adminSection.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap', rel='stylesheet')
    <script src="https://kit.fontawesome.com/a51b61aa2c.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="mainBody">
        <div class="menuDiv">
            <ul class="menu">
                <li><a title="Back" href="/"><i class="fa fa-solid fa-circle-left"></i></a></li>
                <li><a title="Rules" href="/Rules"><i class="fa fa-regular fa-file-lines"></i></a></li>
                <li><a title="About" href="/about"><i class="fa fa-light fa-circle-info"></i></a></li>
                <li><a title="Contact" href="/contact"><i class="fa fa-solid fa-phone-volume"></i></a></li>
            </ul>

        </div>
        <div class="rightDiv">
            <h1>ADMIN</h1>
            <ul class="menuGo">
                <li>
                    <label for="createbtn">Create New account</label>
                    <button name="createbtn"><a href="/signup">Create</a></button>
                </li>
                <li>
                    <label for="loginbtn">Log in to existing account</label>
                    <button name="loginbtn"><a href="/login">Log In</a></button>
                </li>
            </ul>
        </div>
    </div>









</body>

</html>