<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LBMS-Dashboard</title>
    link(rel='stylesheet', href='../static/css/all.css')
    link(rel='stylesheet', href='../static/css/dashboard.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap', rel='stylesheet')
    <script src="https://kit.fontawesome.com/a51b61aa2c.js" crossorigin="anonymous"></script>
</head>

<body>


    <div class="leftContainer">
        <h3>Navigate to</h3>
        <ul>
            <li><a href="/stdrec">Student Record</a></li>
            <li><a href="/bookrec">Available Books</a></li>
            <li><a href="/rentRec">Rented Books</a></li>
        </ul>
    </div>
    <div class="menuContainer">
        <h3>Hello, #{user.fullname} <br>Welcome to <span>CSREALM</span></h3>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>

    </div>




</body>

</html>