<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LBMS</title>

    link(rel='stylesheet', href='../static/css/all.css')
    link(rel='stylesheet', href='../static/css/landing.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap', rel='stylesheet')

</head>

<body>

    <div class="mainBody">
        <div class="leftDiv">
            <div class="leftText">
                <h1 class="heading1">Navigating the Digital Kingdom :</h1>
                <h1 class="heading2">Explore the CSrealm.</h1>
                <h3 class="heading3">Journey Beyond Limits in the Realm of Computer Science</h3>
            </div>
        </div>
        <div class="rightDiv">
            <div class="logo">
                <img src="../static/images/mainLogo.png" alt="logo">
            </div>
            <div class="menu">
                <ul class="list">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/admin">Go to Admin Section</a></li>
                    <li><a href="/client">Go to Student Section</a></li>
                    <li><a href="/rules">Rules</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </div>



    </div>




    <!-- <label for="createbtn">Create New account</label>
    <button name="createbtn"><a href="/signup">Create</a></button>
        
            
    <label for="loginbtn">Log in to existing account</label>
    <button name="loginbtn"><a href="/login">Log In</a></button> -->

    <script src="../static/javascript/landing.js"></script>


</body>

</html>