<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LBMS-Rules</title>

    link(rel='stylesheet' href='../static/css/all.css')
    link(rel='stylesheet' href='../static/css/about_rule.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com', crossorigin)
    link(href='https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap' rel='stylesheet')
    <script src="https://kit.fontawesome.com/a51b61aa2c.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="mainBody">
        <div class="menuDiv">
            <ul class="menu">
                <li><a title="Back" href="/"><i class="fa fa-solid fa-circle-left"></i></a></li>
                <li><a title="About" href="/about"><i class="fa fa-light fa-circle-info"></i></a></li>
                <li><a title="Contact" href="/contact"><i class="fa fa-solid fa-phone-volume"></i></a></li>
            </ul>

        </div>
        <div class="rightDiv">
            <h1>Rules</h1>
            <div class="body">
                <div class="adminrule">
                    h2 Administrator Rules
                    ol
                    li Book Records Management: Administrators are responsible for maintaining accurate book records. Ensure that book details, such as title, author, and availability status, are up-to-date.

                    li Student Profiles: Maintain student profiles, including their names, contact information, and student IDs. Verify student credentials during registration.

                    li Rental Operations: Oversee book rental operations. Keep track of books borrowed by students, due dates, and return statuses. Ensure timely returns and update availability accordingly.

                    li Library Organization: Organize the physical library space efficiently. Keep shelves well-arranged and labeled for easy book retrieval.

                    li System Security: Maintain the security of the CS Realm platform. Regularly update login credentials and ensure that only authorized users have access to administrative functions.

                    li Communication: Communicate with students regarding important library announcements, due dates, and any changes in library policies.
                </div>
                <div class="studentrule">
                    h2 Student Rules
                    ol
                    li Profile Creation: Students must create and maintain accurate profiles. Provide your full name, email address, date of birth, mobile number, and a unique username during registration.

                    li Book Borrowing: Borrow books responsibly. Keep track of due dates and return books on time to avoid late fees.

                    li Respect Library Policies: Follow library rules and guidelines. Treat library resources, both physical and digital, with care and respect.

                    li Report Issues: Report any issues with books, such as damage or missing pages, to library administrators promptly.

                    li Privacy: Protect your login credentials (username and password). Do not share them with others. If you suspect unauthorized access, inform administrators immediately.

                    li Community Engagement: Engage with the CS Realm community. Share your insights, recommendations, and feedback to contribute to the platform's growth.

                </div>
            </div>

        </div>
    </div>


</body>

</html>